.figtree-100 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.figtree-200 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.figtree-300 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.figtree-400 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.figtree-500 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.figtree-600 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.figtree-700 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.figtree-800 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.figtree-900 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Figtree", sans-serif;
}

body {
    background: #fff;
    color: #000;
}

/* NAVBAR */
.navbar {
    background: #083b63;
    padding: 16px 0;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    line-height: 1.1;
}

.logo span {
    display: block;
    font-size: 12px;
    opacity: 0.9;
}

.nav-actions a {
    color: white;
    margin-right: 16px;
    text-decoration: none;
    font-weight: 500;
}

.register-btn {
    background: white;
    color: #083b63;
    border: none;
    padding: 8px 18px;
    font-weight: bold;
    cursor: pointer;
}

/* HERO */
.hero {
    padding: 60px 0;
}

.hero-container {
    max-width: 1000px;
    margin: auto;
    padding: 0 24px;
}

.badges {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
}

.badge {
    background: black;
    color: white;
    padding: 6px 14px;
    font-size: 14px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 12px;
}

h1 span {
    font-weight: 900;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 32px;
}

/* FEATURES */
.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: 600px;
    margin-bottom: 40px;
}

.feature-box {
    display: flex;
    align-items: center;
    border: 1px solid #000;
}

.feature-bar {
    width: 28px;
    height: 100%;
    background: black;
}

.feature-box p {
    padding: 14px 16px;
    font-weight: 600;
}

/* VIDEO PLACEHOLDER */
.video-placeholder {
    width: 100%;
    height: 280px;
    border: 6px solid black;
    background: #fff;
}